<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Form Control</strong>
      </c-card-header>
      <c-card-body>
        <c-col xs="12">
          <c-row class="mb-3">
            <label cLabel style="font-weight: bold;font-size: large;">Content Type</label>
            <select aria-label="Default select example" cSelect style="border: 0px;" [(ngModel)]="selectedContentType"
              (change)="contentTypeChanged($event)">
              <option value="None">Select Content Type</option>
              <option *ngFor="let content_type of content_type_list" [value]="content_type.name">
                {{content_type.name}}
              </option>
            </select>
            <c-accordion style="padding: 10px;">
              <c-accordion-item #item0="cAccordionItem" [visible]="false">
                <ng-template cTemplateId="accordionHeaderTemplate">
                  <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
                    <strong>Important Note on {{selectedContentType}} Template.</strong>
                  </button>
                </ng-template>
                <ng-template cTemplateId="accordionBodyTemplate">
                  <div class="accordion-body">
                    <table>
                      <thead>
                        {{selectedContentType}} Template Excel Column Definations
                        <tr>
                          <th>Column Name</th>
                          <th>Column Type</th>
                          <th>Column Defination</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let attr of SelectedContentTypeAttributes">
                          <td>{{attr.field_name}}</td>
                          <td>{{attr.field_type}}</td>
                          <td>{{attr.help_text}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-template>
              </c-accordion-item>
            </c-accordion>
            <div class="d-md-flex justify-content-md-center">
              <button cButton style="width: 20%;margin: 1rem;" (click)="downloadTemplate()">Download Excel
                Template</button>
            </div>
          </c-row>
          <div class="mb-3">
            <label cLabel style="font-weight: bold;font-size: large;">Upload Template with data.</label>
            <input cFormControl id="excelFile" type="file" name="file" accept=".xlsx" (change)="onFileChange($event)" />
            <div class="d-md-flex justify-content-md-center">
              <button cButton style="width: 20%;margin: 1rem;" (click)="Upload()">Upload Excel Template</button>
            </div>
          </div>
          <c-row>
            <c-alert [visible]="alertVisible" [color]="alertColor" dismissible fade variant="solid">
              <ng-template cTemplateId="alertButtonCloseTemplate">
                <button (click)="alertVisible=false" cButtonClose white></button>
              </ng-template>
              {{alertMessage}}
            </c-alert>
          </c-row>
        </c-col>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>