.speed-dial-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  bottom: -14em;
}

.speed-dial-main-button {
  position: relative;
  width: 56px;
  height: 56px;
  padding: 0;
  font-size: 0.875rem;
  min-width: 0;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 50%;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.speed-dial-options {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  position: absolute;
  margin-right: -32px;
  padding-right: 48px;
  flex-direction: row-reverse;
}

.speed-dial-container.open.up .speed-dial-options {
  bottom: calc(100% + 10px);
  opacity: 1;
  pointer-events: all;
}

.speed-dial-container.open.down .speed-dial-options {
  top: calc(100% + 10px);
  opacity: 1;
  pointer-events: all;
}

.speed-dial-container.left {
  float: right !important;
}

.speed-dial-container.open.left {
  float: right !important;
}

.speed-dial-container.open.left .speed-dial-options {
  right: calc(100%);
  opacity: 1;
  pointer-events: all;
}

.speed-dial-container.open.right .speed-dial-options {
  left: calc(100% + 10px);
  opacity: 1;
  pointer-events: all;
}

.speed-dial-options li {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50px;
  margin: 5px;
  cursor: pointer;
}

.speed-dial-option-btn{
  
  font-size: 16px;
  width: 46px;
  height: 46px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: #bebebe;
  color: #fff;
  margin: 5px;
}