<c-row>
    <c-col sm="12">
        <c-row class="data-row">
            <c-col sm="12">
                <h1> Welcome to your personal Data Vault</h1>
            </c-col>
            <c-col sm="6" md="6">
                <a class="black-text" href="#/data/usage" style="text-decoration: none;">
                    <c-card class="hoverable blue lighten-4">
                        <c-card-body>
                            <i class="material-icons right blue-text text-darken-5" translate="no">insert_chart</i>
                            <h2>Your usage overview</h2>
                            <p>
                                See how you've used myworld.
                            </p>
                        </c-card-body>
                    </c-card>
                </a>
            </c-col>
            <c-col sm="6" md="6">
                <a class="black-text" href="#/data/export" style="text-decoration: none;">
                    <c-card class="hoverable brown lighten-4">
                        <c-card-body>
                            <i class="material-icons right brown-text text-darken-5" translate="no">download</i>
                            <h2>Export your data</h2>
                            <p>
                                Export your entire myworld in several formats.
                            </p>
                        </c-card-body>
                    </c-card>
                </a>
            </c-col>
            <c-col sm="6" md="6">
                <a class="black-text" href="#/data/import" style="text-decoration: none;">
                    <c-card class="hoverable green lighten-4">
                        <c-card-body>
                            <i class="material-icons right green-text text-darken-5" translate="no">upload</i>
                            <h2>Import data</h2>
                            <p>
                                Import contents to myworld from excel.
                            </p>
                        </c-card-body>
                    </c-card>
                </a>
            </c-col>
            <c-col sm="6" md="6">
                <a class="black-text" href="#/data/manage" style="text-decoration: none;">
                    <c-card class="hoverable green lighten-4">
                        <c-card-body>
                            <i class="material-icons right green-text text-darken-5" translate="no">upload</i>
                            <h2>Images management</h2>
                            <p>
                                Manage all your images here.
                            </p>
                        </c-card-body>
                    </c-card>
                </a>
            </c-col>
        </c-row>
    </c-col>
</c-row>