<c-row>
  <c-col sm="12">
    <div
      style="position: relative;overflow: hidden;height: 265px;background: linear-gradient( rgb(122 122 122 / 50%), rgb(122 122 122 / 50%) ),  url('{{universe_image_url}}');background-size: cover;">
      <div class="text-white bordered-text" style="font-size: xxx-large;
  position: absolute;
  top: 30%;
  left: 20%;
  width: 70%;
  text-align: center;">{{name}}
      </div>
    </div>
  </c-col>
</c-row>
<c-row>
  <c-col sm="12">
    <c-accordion>
      <c-accordion-item #item0="cAccordionItem" [hidden]="this.ContentDic[content_type.name.toLowerCase()] == undefined"
        *ngFor="let content_type of content_type_list" style="margin:15px;">
        <ng-template cTemplateId="accordionHeaderTemplate">
          <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton
            [style.background]="content_type.primary_color" class="d-flex justify-content-between  align-items-center">
            <div class="d-flex w-100 justify-content-between align-items-center">
              <span>
                <span [innerHTML]="content_type.icon"></span>
                <span class="text-white" style="font-size: 2rem;">&nbsp; {{content_type.name}} </span>
              </span>
            </div>
          </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
          <div class="accordion-body">
            <c-row>
              <c-col sm="4" xl="3" *ngFor="let dItem of this.ContentDic[content_type.name.toLowerCase()]">
                <a class="card-img" style="text-decoration: none;width: 18rem;margin-right: 1.5rem;"
                  href="{{dItem.url}}">
                  <c-card class="text-white" style="height:100px;width:250px"
                    [style.background]="content_type.sec_color" [title]="dItem.name">
                    <c-card-body>
                      <div>
                        <span style="font-size: 2rem;">{{dItem.name.length > 23 ? dItem.name.substring(0, 23) + '...' :
                          dItem.name}}</span>
                        <p class="text-sm-left">{{(dItem.timeSince)}}</p>
                      </div>
                    </c-card-body>
                  </c-card>
                </a>
              </c-col>              
              <c-col sm="4" xl="3">
                <a class="card-img" style="text-decoration: none;margin-right: 1.5rem;" (click)="createContent(content_type.name)">
                  <c-card class="text-white" style="height:100px;width:100px" [title]="'Add New ' + content_type.name"
                    [style.background]="content_type.sec_color">
                    <c-card-body>
                      <div>
                        <span><i
                          class="fas fa-plus fa-5x"></i></span>
                      </div>
                    </c-card-body>
                  </c-card>
                </a>
              </c-col>
            </c-row>
          </div>
        </ng-template>
      </c-accordion-item>
      <c-accordion-item #item0="cAccordionItem" [hidden]="this.ContentDic['documents'] == undefined"
        style="margin:15px;">
        <ng-template cTemplateId="accordionHeaderTemplate">
          <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton
            class="d-flex justify-content-between bg-success align-items-center">
            <div class="d-flex w-100 justify-content-between align-items-center">
              <span>
                <span><i translate="no" class="material-icons small">description</i></span>
                <span class="text-white" style="font-size: 2rem;">&nbsp; Documents </span>
              </span>
            </div>
          </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
          <div class="accordion-body">
            <c-row>
              <c-col sm="4" xl="3" *ngFor="let dItem of this.ContentDic['documents']">
                <a class="card-img" style="text-decoration: none;width: 18rem;margin-right: 1.5rem;"
                  href="{{dItem.url}}">
                  <c-card class="text-white success bg-success card" style="height:100px;width:250px"
                    [title]="dItem.name">
                    <c-card-body>
                      <div>
                        <span style="font-size: 2rem;">{{dItem.name.length > 23 ? dItem.name.substring(0, 23) + '...' :
                          dItem.name}}</span>
                        <p class="text-sm-left">{{(dItem.timeSince)}}</p>
                      </div>
                    </c-card-body>
                  </c-card>
                </a>
              </c-col>
              <c-col sm="4" xl="3">
                <a class="card-img" style="text-decoration: none;margin-right: 1.5rem;" (click)="createDocument()">
                  <c-card class="text-white success bg-success card align-items-center" style="height:100px;width:100px"
                  [title]="'Add New Document'">
                    <c-card-body>
                      <div>
                        <span><i
                          class="fas fa-plus fa-5x"></i></span>
                      </div>
                    </c-card-body>
                  </c-card>
                </a>
              </c-col>
            </c-row>
          </div>
        </ng-template>
      </c-accordion-item>
    </c-accordion>
  </c-col>
</c-row>