<c-row>
    <c-col lg="12">
        <div class="d-flex">
            <a style="cursor:pointer;" (click)="back()">
                <i class="material-icons left tooltipped" data-tooltip="Go up a folder: back to Documents"
                    translate="no">arrow_upward</i>
            </a>
            <span class="text-value-xl">&nbsp; All image uploads...</span>
            <a style="cursor:pointer;" (click)="downloadAllImages()">
                <i class="material-icons left tooltipped" data-tooltip="Go up a folder: back to Documents"
                    translate="no">arrow_downward</i>
            </a>
        </div>
    </c-col>
</c-row>

<c-row>
    <c-col xs="12" sm="5" md="3" *ngFor="let conObj of ContentObjectList; let index = index">
        <c-card class="">
            <img cCardImg="top" [src]="conObj.image_url" style="height: 265px;background-size: cover;"/>
            <c-card-body>
                <h2 cCardTitle>
                    <a color="success" variant="outline"
                        style="text-decoration: none; cursor: pointer; color: black; padding: 0;"
                        href="#/content/{{conObj.content_type}}/{{conObj.content_id}}">
                        {{conObj.name}}</a>
                    <a class="nav-link" style="text-decoration: none;
                        cursor: pointer;
                        padding: 0;
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        right: 24px;
                        bottom: 80px;
                        border-radius: 50%;
                        background-color: lightgray;" href="#/content/{{conObj.content_type}}/{{conObj.content_id}}">
                        <i class="nav-icon" [ngClass]="conObj.fa_icon" style="font-size: xx-large;padding: 0.5rem;"></i>
                    </a>
                </h2>
                <p cCardText>
                    <small class="text-medium-emphasis">Last updated {{(conObj.timeSince)}}</small>
                </p>
                <div class="d-md-flex justify-content-md-between">
                    <a cButton color="primary" variant="outline" class="btn waves-effect waves-light"
                     [href]="conObj.image_url" target="_blank">
                      View Full Image
                    </a>
                    <a cButton color="danger" variant="outline" class="btn waves-effect waves-light"
                    (click)="deleteImage(conObj.object_id)">
                      Delete
                    </a>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>