
.pricingTable {
    background: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;

    border-radius: 30px;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
}

.pricingTable .pricingTable-header {
    color: #fff;
    background-color: #F08BEB;
    padding: 20px 0;
    margin: 0 0 15px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.pricingTable .title {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.pricingTable .price-value {
    color: #888;
    margin: 0 0 15px;
}

.pricingTable .price-value .amount {
    font-size: 42px;
    font-weight: 500;
}

.pricingTable .price-value .duration {
    font-size: 17px;
}

.pricingTable .pricing-content {
    background: linear-gradient(#9c27b0, #F25A73);
    padding: 25px 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.pricingTable .content-list {
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
}

.pricingTable .content-list li {
    color: #fff;
    font-size: 15px;
    text-align: left;
    position: relative;
}

.pricingTable .content-list li:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}


.pricingTable .pricingTable-signup a {
    color: #444;
    background-color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    width: 150px;
    padding: 8px 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: block;
    transition: all 0.3s ease 0s;
}

.pricingTable .pricingTable-signup a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.pricingTable.blue .pricingTable-header {
    background-color: #5AD8D7;
}

.pricingTable.blue .pricing-content {
    background: linear-gradient(#4DC6E1, #249FFC);
}

.pricingTable.purple .pricingTable-header {
    background-color: #6778E2;
}

.pricingTable.purple .pricing-content {
    background: linear-gradient(#6B69CC, #734FA7);
}

@media only screen and (max-width: 990px) {
    .pricingTable {
        margin-bottom: 30px;
    }
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid;
    background-color: inherit;
    border-color: rgba(0, 0, 21, 0.125);
}