<div class="row">
    <div class="col-lg-12">
        <div class="row">

            <div class="card-img" style="width:18rem;margin-right: 1.5rem;" *ngFor="let condition of conditions">
                <div class="card-body"
                    style="height: 265px;background: linear-gradient( rgb(122 122 122 / 50%), rgb(122 122 122 / 50%) ),  url('{{condition.image_url}}');background-size: cover;">
                    <p class="card-text text-white" style="margin-top:10rem;font-size: large;">{{condition.Name}}</p>
                </div>
                <div class="card-footer">
                    <div class="d-md-flex justify-content-between">
                        <a class="btn" href=".#/conditions/{{condition.id}}/edit">Edit</a>
                        <a class="btn" href=".#/conditions/{{condition.id}}">Preview</a>
                        <a class="btn" (click)="onDelete(condition.id)">Delete</a>
                    </div>
                </div>
            </div>
            <a class="card-img" style="width: 18rem;margin-right: 1.5rem;" href="#/create/Conditions">
                <div class="card-body text-white "
                    style="height: 265px;background: linear-gradient( rgb(122 122 122), rgb(122 122 122 / 50%) ),  url('assets/img/cards/Conditions.png');background-size: cover;">
                    <div class="" style="margin-top: 25%;margin-left: 25%;">
                        <span><i class="fas fa-plus fa-10x"></i></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>